
        * {
            margin: 0;
            padding: 0%;
            box-sizing: border-box;
        }

        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-image: linear-gradient(135deg, #b993987f, #42393249);
            background-color: #1a74ce47;
            color: #332f2f;
            line-height: 1.6;
            padding: 8px;
        }

        header p {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 1.8 rem;
            color: #000000;
            text-align: center;
            margin-bottom: 8px;

        }

        header h1 {
            font-size: 2.5rem;
            text-align: center;
            margin-bottom: 10px;
        }

        main.Menu {
            display: flex;
            flex-direction: column;
            gap: 30px;
        }

        section.Categoria {
            font-size: 1.8rem;
            color: #2c3e50;
            margin-bottom: 10px;
            border-bottom: 3px solid #eee;
            padding-bottom: 15px;
            background-image: linear-gradient();
        }

        section.Categoria h2 {
            text-align: center;
            margin-bottom: 15px;
            margin-bottom: 20px;
            border-bottom: 2px solid #eee;
            padding-bottom: 10px;
        }

        .item,
        .item {
            background-color: #4d6e849a;
            border-radius: 10px;
            padding: 15px 20px;
            margin-bottom: 45px;
            box-shadow: 0 2px 8px rgb(8, 8, 8);
            transition: transform 0.2s ease;
        }

        .item:hover,
        .item:hover {
            transform: translate(-6px);
            background-color: #e9ecf56e;
        }

        .item h3,
        .item h3 p {
            font-size: 1.3rem;
            margin-bottom: 5px;
            color: #202017a5;
        }

        .item p,
        .item p {
            font-size: 1rem;
            color: #555;

        }

        .item span,
        .item span {
            display: block;
            text-align: center;
            font-size: small;
            font-weight: bold;

        }

        footer {
            text-align: center;
            margin-top: 40px;
            padding: 20px;
            background-color: #40415481;
            color: #ccc;
            font-size: 0, 9rem;
            border-radius: 199rem;


        }
 